body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(60, 60, 60);
    text-align: center;
    margin-top: 70px;
}

table {
    background-color: white;
    margin-left: 450px;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px  rgb(189, 189, 189);
   
}

img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

th {
    background-color: #007bff;
    color: white;
    padding: 10px; 
}

td {
    padding: 20px; 
}

/* https://y2meta.is/pt/youtube-to-mp3/

